body{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background-color: #e3e5ce;
}

#motor1,#motor2{
	padding: 30px;
}

.motorform{
	border-top: 2px solid #c6ca9b;
}

.btn{
	background-color: #c6ca9b;
}

.median{
	padding: 10px;
}