<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
</head>
<body ng-app="app" ng-controller="appCtrl">

	<div class="container">
		<div>
			<h2>Motor Cost Savings Calculator</h2>
			<p>If you are considering a motor upgrade, this simple calculator can help you determine your potential cost savings. Motors are one of the few devices whose first year operating costs can be higher than their initial purchase price. This maximizes the importance of motor operating efficiency—even a slight improvement can pay for itself by returning dollars to the bottom line—quickly and in the years to follow.</p>

			<p>You can calculate operating cost, or run a quick comparison between two motors.</p>

			<p>To begin enter your motor information in the Detailed Cost Comparison Calculator fields and click the Calculate button.</p>

			<p>The Annual Cost Savings will displayed.</p>
		</div>

		<div ng-repeat="IEs in motorMaster.ieRating">
			<h2>{{IEs.IE}} - {{IEs.desc}}</h2>
			<div ng-repeat="kWs in motorMaster.rating">
				<h3>{{kWs.kW}}</h3>
				<div ng-repeat="pol in motorMaster.pole">
					<h4>{{pol.poles}}</h4>
					<p>{{motorDetails["IE1"]["0.12"]["2_pole"]}}</p>
				</div>
			</div>
		</div>
		
	</div>
	<script src="scripts/libs/angular.js"></script>
	<script src="scripts/libs/angular-route.min.js"></script>
	<script src="scripts/app.js"></script>

</body>
</html>